@using Metro.Models
@model IndexViewModel
@Scripts.Render("~/bundles/overview")

<div class="jumbotron" style="background-color: @Model.Route.BackgroundColor; color: @Model.Route.ForegroundColor">
	<h1>@Model.Route.Name</h1>
	<p class="lead">Select a departure and arrival station below to get information.</p>
</div>

@Html.Partial("_StopSubmission", Model.DepartureAndArrival)
