@using MetroClient.Models
@{
	ViewBag.Title = "Departure and Arrival";
}
@Scripts.Render("~/bundles/overview")

@Html.Partial("_Alert")

<div>
	<h2>Trip information from @ViewBag.DepartureTitle to @ViewBag.ArrivalTitle</h2>
</div>

<div class="jumbotron">
	<h1>@ViewBag.NextBusMessage</h1>
	<p class="lead">Other busses coming in @ViewBag.OtherBusTimes minutes.</p>
	<p class="lead">Your trip will take you @ViewBag.TravelTime minutes!</p>
</div>

<!--
<div class="row">
	<div class="col-md-4">
		<h2>@ViewBag.NextBusMessage</h2>
		<p>Other busses coming in @ViewBag.OtherBusTimes minutes</p>
	</div>
	<div class="col-md-4">
		<h2>Arrival @ViewBag.Arrival</h2>
	</div>
	<div class="col-md-4">
		<h2>Information!</h2>
	</div>
</div>
-->
